.container {
    // margin-top: 200px;
    // margin-bottom: 200px;
    // justify-content: right;
    // align-items: right;
      margin-left: 640px;
      margin-top: 1px;  
      margin-bottom: 40px;
      align-items: center;
    }

  .buttonTrue {
    position: absolute;
    top: 275px;
    right: 360px;
    height: 40px;
    width: 200px;
    font-family: "Manrope";
    font-size: 30px;
    padding: 45px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    background-color: pink;
    border: none;
    border-radius: 30px;
    box-shadow: 0 9px #999;
  }
  
  .buttonFalse {
    position: absolute;
    top: 275px;
    right: 360px;
    height: 40px;
    width: 200px;
    font-family: "Manrope";
    font-size: 30px;
    padding: 45px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    background-color: purple;
    border: none;
    border-radius: 30px;
    box-shadow: 0 9px #999;

  }